
.hoverbox       .hover-show {display:none;}
.hoverbox:hover .hover-show {display:inherit;}
.hoverbox       .hover-opaque {opacity:0;}
.hoverbox:hover .hover-opaque {opacity:1;}

.hoverbox-highlight       .hover-show {display:none;}
.hoverbox-highlight:hover .hover-show {display:inherit;}
.hoverbox-highlight       .hover-opaque {opacity:0;}
.hoverbox-highlight:hover .hover-opaque {opacity:1;}

.hoverbox-highlight       {border: 1px solid transparent;}
.hoverbox-highlight:hover {background-color: #e7f0f7;border: 1px solid #c3d9ec;}

.cursor-pointer {cursor:pointer}
.cursor-draggable {cursor:move}

.user-select-none {user-select:none;}

.overflow-hidden {overflow:hidden;}
.overflow-auto {overflow:hidden;overflow-x:auto;overflow-y:auto;}
.overflow-auto-x {overflow:hidden;overflow-x:auto;overflow-y:hidden;}
.overflow-auto-y {overflow:hidden;overflow-y:auto;overflow-x:hidden;}
.overflow-scroll {overflow:hidden;overflow-x:scroll;overflow-y:scroll;}
.overflow-scroll-x {overflow:hidden;overflow-x:scroll;overflow-y:hidden;}
.overflow-scroll-y {overflow:hidden;overflow-y:scroll;overflow-x:hidden;}

