
.icon-tiny-sm {font-size:4px;width:12px;margin-left:2px;margin-right:2px;}
.icon-sm {font-size:8px;width:12px;margin-left:2px;margin-right:2px;}
.icon-md {font-size:10px;width:16px;margin-left:2px;margin-right:2px;}
